In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Rishi\Downloads\archive\play_tennis.csv")
data.head()
data.drop(columns=['day'], inplace=True)

In [3]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
# Preblem 1

#outlook = sunny, temp=hot, humidity=high, wind=weak
#play or no play?

In [5]:
#Solution 

# P(yes | sunny,hot,high,weak) = p(sunny | yes) * P(hot | yes) * p(high|yes) * p(weak|yes) * p(yes)

# P(no | sunny,hot,high,weak) = p(sunny | no) * P(hot | no) * p(high|yes) * p(weak|no) * p(no)

# Compare and decide using the maximum a posteriori rule

In [ ]:
# problem 2 

#outlook = overcast ,temp = cold, humididty=low, wind= weak
#play or no play?

In [6]:
#Solution 

# P(yes | overcast,cold,low,weak) = p(overcast | yes) * P(cold | yes) * p(low|yes) * p(weak|yes) * p(yes)

# P(no | overcast,cold,low,weak) = p(overcast | no) * P(cold | no) * p(low|yes) * p(weak|no) * p(no)

# Compare and decide using the maximum a posteriori rule

In [7]:
# stage 1 = training  create (lookup table(Dictionary))

# stage 2 = testing

In [18]:
# p(yes)
# p(no)

data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [19]:
Py=9/14
Pn=5/14

print(Py)
print(Pn)

0.6428571428571429
0.35714285714285715

In [20]:
# outlook

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [21]:
Pon=0
Prn=2/5
Psn=3/5

Poy=4/9
Pry=3/5
Psy=2/9

In [22]:
# TEmp

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [23]:
PCoolNo=1/5
PHotNo=2/5
PMildNo=2/5

PCoolYes=3/9
PHotYes=2/9
PMildYes=4/9

In [24]:
# Humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [25]:
PHighNo = 4/5
PNormalNo=1/5

PHighYes=3/9
PnormalYes=6/9

In [26]:
# Wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [32]:
PStrongNo = 3/5
PWeakNo=2/5

PStrongYes=3/9
PWeakYes=6/9

In [30]:
#outlook = sunny, temp=hot, humidity=high, wind=weak
Pyes=Py*Psy*PHotYes*PHighYes*PWeakYes
print(Pyes)

0.007054673721340388

In [33]:
Pno=Pn*Psn*PHotNo*PHighNo*PWeakNo
print(Pno)

0.02742857142857143

In [ ]:
# Conclude = No Play